
<form method="GET" action="{% url 'findjob' %}">

 2) Gender <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <br><br>
 3) Age <br>
   <input type="radio" name="age" value="14-25" checked>14-25<br>
   <input type="radio" name="age" value="25-40">25-40<br>
   <input type="radio" name="age" value="40-60">40-60<br>
   <input type="radio" name="age" value="Above 60">Above 60<br><br>
 4) job <br>
    <input type="text" name="salary">  <br>
</form>
